Source: eopayment
Maintainer: Frederic Peters <fpeters@debian.org>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-eopayment
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Breaks: ${python:Breaks}
Description: Common API to use all French online payment credit card proc
 eopayment is a Python module to interface with French's bank credit card
 online payment services. Supported services are ATOS/SIP, SystemPay, and
 SPPLUS.
